 
 <!-- TSHEEZ -->
<div class="page" id="page-tsheezz" >

    <div class="header">
        <a class="nav-back" onclick="window.history.go(-1)">Retour</a>
        <h1>Aide</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
         <h2>One, Two, Tsheezz !</h2>
	    <p>
	        1. Appuyez sur le bouton central 'Tsheezz'<br/>
	        2. Scannez le Tsheezz code de votre nouvelle rencontre <br/>
	        3. Les infos de votre personne seront ajoutées à votre liste
	    </p>
    <!-- todo add Pictogram -->   
       
    </div><!-- /content -->

    
</div><!-- /TSHEEZZ -->
