
     

<!-- TSHEEZ -->
<div class="page" id="page-tsheezz" >

    <div class="header">
        <h1>Historique</h1>
        <div class="tool-right tool-refresh" ng-click="Refresh()" >
            *
        </div>
    </div><!-- /header -->
   
    <div role="main" class="ui-content">

        <ul class="list" id="HistoryList">
            <li class="history-item" ng-repeat="friend in FriendsList | reverse">
                <div class="history-profile-picture-holder">
                    <img class="history-profile-picture" src="{{friend.image}}" alt="avatar" />
                </div>

                <div class="history-info">
                    <h4 class="history-name">{{friend.name}}</h4>
                    <p class="history-mood">{{friend.status}}</p>
                    <!--<div class="history-time">Tsheezzed 2 months ago</div>-->
                    <div ng-show="friend.inContacts" class="history-incontacts">Dans vos contacts</div>
                    <div ng-hide="friend.inContacts" class="history-add-contact" ng-click="AddContact(friend)">
                        <span class="add-symbol">+</span> carnet d'adresses
                    </div>
                </div>
            <li>

        </ul>
        <div class="clearfix" ></div>
        <h4>Contacts à synchroniser : {{unsyncUrls.length}}</h4>
         <h6>Urls</h6>
        <ul id="UnsyncUrlsList">
            <li ng-repeat="url in unsyncUrls">{{url}}</li>
        </ul>
    </div><!-- /content -->

    <div ng-include="'views/navbar.html'"></div>
</div><!-- /TSHEEZZ -->
