<!-- LOGIN -->
<div class="page" id="page-login" >

    <div class="header">
        <h1>Tsheezz</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        <h2>Connectez-vous !</h2>
       <input type="text" ng-model="login" ng-class="{'shaky':wrongInput}" placeholder="login" autofocus value="">
        <br/>
       <input type="password" ng-model="password" ng-class="{'shakeinverse':wrongInput}" placeholder="password" value="">
       <br>
        <button class="button" ng-click="Connect()">Se connecter</button>
        <p>Pas encore inscrit ? <a href="http://www.tsheezz.com" data-transition="slidedown" >Créer votre compte !</a></p>
    </div><!-- /content -->

  
</div><!-- /page -->