<div class="footer">
    <a class="footer-link-profile" data-transition="fade" href="#Settings">Profil</a>
    <a class="footer-link-tsheezz" data-transition="fade" href="#Tsheezz">Tsheezz</a>
    <a class="footer-link-history" data-transition="fade" href="#History">Historique</a>
</div><!-- /footer -->