<!-- TSHEEZ -->
<div class="page" id="page-profile" >

    <div class="header">
        <h1>Mon profil</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        <div class="userprofile">
            <img src="{{user.profileImg}}" alt="qr" class="up_profileimage" />
            <h2 class="up_name">{{user.name}}</h2>
            <button class="btn" ng-click="Disconnect()">Se déconnecter</button>
            <pre class="up_qrCode">{{user.qrCode}}</pre>
            <img src="{{user.qrImg}}" alt="qr" class="up_qrimage" />
        </div>


    </div><!-- /content -->
    <div ng-include="'views/navbar.html'"></div>
    
</div><!-- /TSHEEZZ -->