<!-- TSHEEZ -->
<div class="page" id="page-tsheezz" >

    <div class="header">
        <h1>Tsheezz</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        <div class="alert alert-info">
            Appuyez pour Tsheezzer
            <a class="info-bubble" href="#Help" >?</a>
        </div>

       
        <button class="btn" ng-click="LaunchQRScanner()" id="btn-tsheezz" >Tsheezz
            <div id="btn-tsheezz-circle-1"></div>
            <div id="btn-tsheezz-circle-2"></div>
        </button>


       
    </div><!-- /content -->

    <div ng-include="'views/navbar.html'"></div>
</div><!-- /TSHEEZZ -->