/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
input {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px;
  margin-bottom: 10px;
  border: 1px solid #0783c1;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
input.shaky {
  -webkit-animation: shake 0.5s ease-in-out;
}
input.shakeinverse {
  -webkit-animation: shakeinverse 0.5s ease-in-out;
}
@-webkit-keyframes shakeinverse {
  0% {
    border: 1px solid red;
    margin-left: 10px;
  }
  20% {
    margin-left: -10px;
  }
  40% {
    margin-left: 5px;
  }
  60% {
    margin-left: -5px;
  }
  100% {
    margin-left: 0px;
    border: 1px solid #0783c1;
  }
}
@-webkit-keyframes shake {
  0% {
    border: 1px solid red;
    margin-left: -10px;
  }
  20% {
    margin-left: 10px;
  }
  40% {
    margin-left: -5px;
  }
  60% {
    margin-left: 5px;
  }
  100% {
    margin-left: 0px;
    border: 1px solid #0783c1;
  }
}
input[type=submit],
button,
input[type=button] {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px;
  margin-bottom: 10px;
  border: 1px solid #0783c1;
  box-sizing: border-box;
  background: #0783c1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  color: #fff;
}
.hidden {
  display: none;
}
.clearfix {
  clear: both;
}
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #ffffff;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #343839;
  background: #fbfbfc;
  line-height: 1.4;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.app {
  padding: 20px;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
}
.header {
  height: 40px;
  padding: 0 20px;
  padding-top: 20px;
  border-bottom: 1px solid #0783c1;
  background: #0783c1;
  color: #ffffff;
}
.header h1 {
  float: left;
  width: 80%;
  margin: 0 10%;
}
.ui-content {
  padding: 10px 20px;
  position: absolute;
  top: 61px;
  left: 0;
  right: 0;
  bottom: 51px;
  -webkit-overflow: ui-touch;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  padding: 0;
  background: #ffffff;
  border-top: 1px solid #e7e7e7;
  color: #343839;
  width: 100%;
  box-model: border-box;
}
.footer-link {
  height: 47px;
  text-decoration: none;
  font-size: 12px;
  color: #0783c1;
  text-align: center;
  padding-top: 30px;
  margin-top: 3px;
  overflow: hidden;
  display: block;
  float: left;
  width: 33%;
}
.footer-link.active {
  color: #0783c1;
}
a.footer-link-profile {
  height: 47px;
  text-decoration: none;
  font-size: 12px;
  color: #0783c1;
  text-align: center;
  padding-top: 30px;
  margin-top: 3px;
  overflow: hidden;
  display: block;
  float: left;
  width: 33%;
  background: url('../img/profil-blue.png') top center no-repeat;
}
a.footer-link-profile.active {
  color: #0783c1;
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  a.footer-link-profile {
    background: url(../img/profil-blue@2x.png) top center no-repeat;
    background-size: 30px;
  }
}
a.footer-link-history {
  height: 47px;
  text-decoration: none;
  font-size: 12px;
  color: #0783c1;
  text-align: center;
  padding-top: 30px;
  margin-top: 3px;
  overflow: hidden;
  display: block;
  float: left;
  width: 33%;
  background: url('../img/history-blue.png') top center no-repeat;
}
a.footer-link-history.active {
  color: #0783c1;
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  a.footer-link-history {
    background: url(../img/history-blue@2x.png) top center no-repeat;
    background-size: 30px;
  }
}
a.footer-link-tsheezz {
  height: 47px;
  text-decoration: none;
  font-size: 12px;
  color: #0783c1;
  text-align: center;
  padding-top: 30px;
  margin-top: 3px;
  overflow: hidden;
  display: block;
  float: left;
  width: 33%;
  background: url('../img/tsheezz-blue.png') top center no-repeat;
}
a.footer-link-tsheezz.active {
  color: #0783c1;
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  a.footer-link-tsheezz {
    background: url(../img/tsheezz-blue@2x.png) top center no-repeat;
    background-size: 30px;
  }
}
.alert {
  font-size: 18px;
  text-align: center;
}
a.info-bubble {
  background: #A6C0E2;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 2px 7px;
  -webkit-border-radius: 20px 20px 20px 20px;
  text-decoration: none;
}
.tool-left,
.tool-right {
  position: absolute;
  top: 25px;
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -1000px;
  overflow: hidden;
  font-size: 1px;
}
.tool-left {
  left: 15px;
}
.tool-right {
  right: 15px;
}
.tool-settings {
  background: url('../img/settings.png') left top no-repeat;
}
.tool-refresh {
  background: url('../img/refresh.png') left top no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  .tool-settings {
    background: url(../img/settings@2x.png) left top no-repeat;
    background-size: 16px 16px;
  }
  .tool-refresh {
    background: url(../img/refresh@2x.png) left top no-repeat;
    background-size: 16px 16px;
  }
}
.nav-back {
  position: absolute;
  top: 25px;
  display: block;
  left: 15px;
  font-size: 14px;
}
#btn-tsheezz {
  display: block;
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 250px;
  height: 250px;
  font-size: 1px;
  text-indent: -1000px;
  overflow: hidden;
  -webkit-border-radius: 250px;
  border: none;
  background: url(../img/tsheezz-circle.png) center center no-repeat;
}
#btn-tsheezz-circle-1,
#btn-tsheezz-circle-2 {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/tsheezz-circle-1.png) center center no-repeat;
  -webkit-animation: rotate 3000ms linear infinite, fadeinverse 3000ms infinite;
}
#btn-tsheezz-circle-2 {
  background: url(../img/tsheezz-circle-2.png) center center no-repeat;
  -webkit-animation: fade 3000ms infinite, rotateinverse 3000ms linear infinite;
}
@media all and (-webkit-min-device-pixel-ratio: 2) {
  #btn-tsheezz-circle-1 {
    background: url(../img/tsheezz-circle-1@2x.png) center center no-repeat;
    background-size: 250px;
  }
  #btn-tsheezz-circle-2 {
    background: url(../img/tsheezz-circle-2@2x.png) center center no-repeat;
    background-size: 250px;
  }
  #btn-tsheezz {
    background: url(../img/tsheezz-circle@2x.png) center center no-repeat;
    background-size: 250px;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}
@-webkit-keyframes fadeinverse {
  from {
    opacity: 0.4;
  }
  50% {
    opacity: 1.0;
  }
  to {
    opacity: 0.4;
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}
@-webkit-keyframes rotateinverse {
  from {
    -webkit-transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li.history-item {
  clear: both;
  background: #fbfbfb;
  margin-left: -20px;
  margin-right: -20px;
  padding: 10px 10px;
}
li.history-item button {
  float: right;
}
.history-profile-picture-holder {
  float: left;
  width: 31%;
  min-width: 93px;
  border: 1px solid #0783c1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.history-profile-picture {
  width: 100%;
  height: 100%;
  float: left;
  background: #eee;
}
.history-info {
  margin-left: 3%;
  float: left;
  width: 63%;
}
.history-name {
  color: #1181C1;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}
.history-mood {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.history-time {
  line-height: 20px;
  font-size: 10px;
  color: #0783c1;
}
.history-add-contact {
  border: 1px solid #0783c1;
  color: #0783c1;
  padding: 1px 5px 1px 20px;
  line-height: 14px;
  font-size: 11px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  float: left;
  position: relative;
}
.history-incontacts {
  font-size: 10px;
  color: #999;
}
.add-symbol {
  background: #0783c1;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  color: #fff;
  bottom: 0;
  float: left;
}
.view-animate.ng-enter,
.view-animate.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.view-animate.ng-enter {
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}
.userprofile {
  text-align: center;
}
.up_name {
  margin: 0;
  margin-bottom: 15px;
}
.up_profileimage {
  width: 120px;
  height: 120px;
  margin: auto;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
}
.up_qrimage {
  width: 65%;
  height: auto;
}
